.header {
  position: fixed;
  background: var(--pico-secondary-inverse);
  width: 100%;
  padding: 1rem;
  left: 0;
  z-index: 20;
}

.header h1.app-title {
  display: inline-block;
  color: var(--pico-primary);
  margin: 0;
  line-height: 1;
}

.header .logo-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.header .logo-wrapper svg {
  display: block;
  width: 100%;
  max-width: 2.75rem;
  height: auto;
  fill: var(--pico-primary);
}

.header .column {
  display: flex;
  align-items: center;
}